.wdp-actionbar {
    @include user-select(none);
    @include position(fixed, 0px 0px 0 $global-left-offset);
    padding: 10px 10px;
    background: rgba(#fff, 0.9);
    .btn {
        font-size: 12px;
        margin-right: 5px;
        min-width: 80px;
    }
    .btn.action-select {
    }
}
