.actions-container {
    width: 0;
    height: 0;
    position: fixed;
    left: 77px;
    top: 0;

    $action-width: photos-sprite-width(add);
    $action-height: photos-sprite-height(add);
    $action-padding: 10px;
    .action-pick-date {
        @extend %action, %has-icon-calendar;
        top: 25px;
    }
    .action-upload-photo {
        @extend %action, %has-icon-add;
        top: 25px + $action-width + $action-padding * 2;
    }
    %action {
        position: absolute;
        left: 0;
        $padding-top: $action-padding + ($action-height - $icon-height) / 2;
        $padding-left: $action-padding;
        padding: $padding-top $padding-left;
        margin: (-$action-padding - $action-height / 2) 0 0 (-$action-padding - $action-width / 2);
    }
}
