.block {
    @include transition(all 0.1s);
    position: absolute;
    background: #fff;
    border-radius: 3px;
    @include box-shadow(0 1px 0 1px rgba(0, 0, 0, 0.1));

    .photo {
        margin: 5px;
        overflow: hidden;
        @include position-container;
        cursor: pointer;
        img {
            position: absolute;
            // revert bootstrap img style
            max-width: none;
        }
    }

    $actions-height: 26px;
    &.block-active, &:hover {
        .actions {
            @include transition(height 0.1s linear 0.2s);
            height: $actions-height;
        }
    }
    .actions {
        @include transition(height 0.1s linear 0.1s);
        @include clearfix;
        height: 0;
        padding-right: 5px;

        .action-select {
            @include float-left;
            padding-top: 2px;
            padding-left: 25px;
        }
        %action {
            @include float-right;
            $padding-top: ($actions-height - $icon-height) / 2;
            padding: $padding-top 6px;
        }
        .action-delete {
            @extend %action, %has-icon-del;
        }
        .action-download {
            @extend %action, %has-icon-dl;
        }
        .action-share {
            @extend %action, %has-icon-share;
        }
    }
}
