.timeline-container {
    position: relative;
    padding: 0 0 90px 60px;

    // time"line", the real one...
    &:before {
        content: " ";
        position: fixed;
        left: 75px;
        top: 0;
        bottom: 0;
        width: 5px;
        background: #d7d7d7;
    }
    @import "icons";    // all icon sprites
    @import "actions";  // photos actions
    @import "toolbar";  // photos toolbar
    @import "showcase"; // showcase consists of group of photos
    @import "block";    // each photos is contained in a block
}

