.timeline-container {
    position: relative;
    padding: 0 0 90px 60px;

    // time"line", the real one...
    &:before {
        content: " ";
        position: fixed;
        left: 75px;
        top: 0;
        bottom: 0;
        width: 5px;
        background: #d7d7d7;
    }
    @import "icons";
    @import "actions";
    @import "toolbar";
    @import "showcase";
}

