.wdj-photos {

    padding-left: 10px;
    padding-right: 10px;

    .wdp-timeline-container {
        padding: 50px 0px 20px;
    }
    @import "showcase"; // showcase consists of group of photos
    @import "block";    // each photos is contained in a block

    @import "actionbar";  // photos toolbar
    @import "slide";    // image slide preview
}
