.wdp-showcases-container {
    .load-more {
        display: block;
        width: 100px;
        padding: 10px 40px;
        margin: 10px auto;
        border-radius: 20px;
        background: #e6e6e6;
        text-align: center;
        opacity: 0.7;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
            @include box-shadow(inset 0 1px 1px rgba(#000, 0.1));
        }
    }
    .load-more-hide {
        visibility: hidden;
    }
}
.wdp-showcase {
    @include position;
}
