.showcases-container {
    .showcase {
        position: relative;
        padding: 0 106px 0 30px;
        .date {
            position: absolute;
            top: 50px;
            left: -80px;
            width: 60px;
            font-size: 12px;
            text-align: right;
            @include text-shadow(#fff 0 1px);
            i {
                position: absolute;
                // top: (20px - $sprite-height) / 2;
                right: -20px - photos-sprite-width(date) / 2 + 3px;
            }
        }
        @import "block";
    }
    // .showcase-today .action-upload-photo {
    //     @extend %has-icon-add;
    //     padding: 10px;
    //     position: absolute;
    //     top: -15px;
    //     right: -42px;
    // }
}
