.slides-container {
    @include user-select(none);
    @include ui-layer-top;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.95);
    overflow: hidden;
    opacity: 0;
    $transition-duration: $global-transition-duration;
    @include transition(opacity $transition-duration,height 0 ease $transition-duration);

    &.slides-active {
        @include transition(opacity $transition-duration, height 0 ease 0);
        height: 100%;
        opacity: 1;
    }

    .frame {
        position: absolute;
        left: 90px;
        right: 90px;
        top: 30px;
        bottom: 80px;
        text-align: center;
        img {
            max-width: none;
            max-height: none;
        }
    }

    $action-padding: 10px;
    $action-margin: 10px;
    $action-width: icon-width("slideplay") + $action-padding;

    %wdp-slide-action {
        @include position(absolute, 0 0 20px 50%);
        padding: $action-padding;
        @include button-effect;
    }

    .action-previous {
        @extend %wdp-slide-action;
        @include position(absolute, 80px auto 80px 0px);
        width: 70px;
        i {
            @include position(absolute, 50% 0 0 50%);
            margin: (- icon-height("slidepre") / 2) 0 0 (- icon-width("slidepre") / 2);
        }
    }
    .action-next {
        @extend %wdp-slide-action;
        @include position(absolute, 80px 0px 80px auto);
        width: 70px;
        i {
            @include position(absolute, 50% 0 0 50%);
            margin: (- icon-height("slidenext") / 2) 0 0 (- icon-width("slidenext") / 2);
        }
    }

    $action-space : $action-width + $action-margin * 2;
    $position-left: $action-margin - ($action-space) * 2;
    .action-play {
        @extend %wdp-slide-action;
        margin-left: $position-left + $action-space * 0;
    }
    .action-rotate {
        @extend %wdp-slide-action;
        margin-left: $position-left + $action-space * 1;
    }
    .action-delete {
        @extend %wdp-slide-action;
        margin-left: $position-left + $action-space * 2;
    }
    .action-download {
        @extend %wdp-slide-action;
        margin-left: $position-left + $action-space * 3;
    }
    .action-share {
        @extend %wdp-slide-action;
        margin-left: $position-left + $action-space * 4;
    }
    .action-close {
        @extend %wdp-slide-action;
        @include position(absolute, -10px -10px auto auto);
        padding: 20px;
    }
}
