.toolbar {
    $toolbar-height: 43px;
    $click-height: 30px;
    $border-radius: 4px;
    @include fix(-$border-radius, 40px);
    @include box(auto, $toolbar-height, $border-radius);
    padding-left: $border-radius;
    @include background-image(linear-gradient(#f6f6f6, #f5f5f5));
    @include box-shadow(0 2px 5px rgba(0,0,0,0.4), inset 0 1px #fff);
    @include transform3d(translateX(-100%));
    @include transition(all 0.2s);
    @include transition-delay(0.2s);
    &.toolbar-active {
        @include transform3d(translateX(0));
        @include transition-delay(0);
    }

    %tool { @include float-left; }
    .counter {
        @extend %tool;
        @include box(auto, auto, 3px);
        padding: 0 6px;
        margin: fill-height($toolbar-height) 0 0 26px;
        @include box-shadow(0 1px rgba(255,255,255,0.15), inset 0 1px 1px rgba(0,0,0,0.5));
        @include background-image(linear-gradient(#646464, #707070));
        font-size: 12px;
        color: #fff;
        @include text-shadow(0 1px 0 1px rgba(0,0,0,0.35));
        text-align: center;
        cursor: default;
    }
    .action-select-all {
        @extend %tool;
        $padding-top: fill-height($click-height);
        padding: $padding-top 0 $padding-top 25px;
        margin: fill-height($toolbar-height, $click-height) 0 0 21px;
    }
    %tool-extra {
        @extend %tool;
        @include background-image(linear-gradient(#7bbe19, #5d9b02));
        padding: fill-height($toolbar-height) 5px;
    }
    .action-delete {
        @extend %tool-extra;
        padding-left: 10px;
        margin-left: 10px;
    }
    .action-download { @extend %tool-extra; }
    .action-share {
        @extend %tool-extra;
        padding-right: 10px;
    }
    .action-close-toolbar {
        @extend %tool, %has-icon-close-toolbar;
        padding: fill-height($click-height, photos-sprite-width(close-toolbar));
        margin: ($toolbar-height - $click-height) / 2 - 1px 0 0 0;
    }
}
