.toolbar {
    $toolbar-height: 43px;
    $click-height: 30px;
    $border-radius: 4px;
    @include fix(-$border-radius, 35px);
    @include box(auto, $toolbar-height, $border-radius);
    padding-left: $border-radius + 4px;
    @include background-image(linear-gradient(#f6f6f6, #f5f5f5));
    @include box-shadow(0 2px 3px rgba(0,0,0,0.2), inset 0 1px #fff);
    // padding-right: 10px;

    .collapse {
        @include inline-block;
        @include nowrap;
        width: 0;
        height: $toolbar-height;
        vertical-align: top;
        @include transition(all 0.5s);
    }
    &.toolbar-active {
        .collapse {
            width: 212px;
        }
    }

    %tool {
        @include inline-block;
        vertical-align: top;
        font-size: 12px;
    }
    .action-upload-photo {
        @extend %tool, %has-icon-add;
        padding: fill-height($toolbar-height) 4px;
        margin: 0 -2px 0 2px;
    }
    .counter {
        @extend %tool;
        @include box(auto, auto, 3px);
        padding: 0 6px;
        margin: fill-height($toolbar-height) 10px 0;
        @include box-shadow(0 1px rgba(255,255,255,0.15), inset 0 1px 1px rgba(0,0,0,0.5));
        @include background-image(linear-gradient(#646464, #707070));
        color: #fff;
        @include text-shadow(0 1px 0 1px rgba(0,0,0,0.35));
        text-align: center;
        cursor: default;
    }

    .group {
        @include inline-block;
        background: #5d9b02;
        height: $toolbar-height;
        padding: 0 10px;
        margin-left: 5px;
    }
    .action-select-all {
        @extend %tool;
        margin: fill-height($toolbar-height, 26px) 0 0 0;
    }
    .action-delete {
        @extend %tool;
        margin: fill-height($toolbar-height, 26px) 0 0 2px;
    }
    %tool-extra {
        @extend %tool;
        $fill-padding: fill-height($toolbar-height);
        $padding-top: ceil($fill-padding);
        $padding-bottom: floor($fill-padding);
        padding: $padding-top 8px $padding-bottom;
        & > i {
            @include transition(all 0.1s);
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    .action-download { @extend %tool-extra; }
    .action-share {
        @extend %tool-extra;
        padding-right: 13px;
    }
    .action-close-toolbar {
        @extend %tool, %has-icon-close-toolbar;
        padding: fill-height($click-height, photos-sprite-width(close-toolbar));
        margin: ($toolbar-height - $click-height) / 2 - 1px 0 0 0;
    }
}
