<div ng-switch on="autoAuth">
    <div class="wd-portal" ng-switch-when="false">
        <div class="a">
            <div class="container">
                <h1>{{$root.DICT.portal.H1}}</h1>
                <p>{{$root.DICT.portal.H1_P}}</p>
                <form ng-submit="submit()" class="form-inline">
                    <input type="text" class="" ng-model="$parent.authCode" wd-auto-focus placeholder="{{$root.DICT.portal.PASSCODE_PLACEHOLDER}}" ng-change="userInput()" ng-disabled="state != 'standby'">
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary btn-large" ng-switch on="state" ng-disabled="state != 'standby'">
                        <span ng-switch-when="loading" class="wd-loading wd-loading-inline" data-visible="true"></span>
                        <span ng-switch-when="standby">{{buttonText}}</span>
                    </button>
                </form>
                <p class="error" ng-show="errorText"><i class="icon-info-sign"></i> {{errorText}}</p>
                <p>
                    <span class="btn-safari" ng-click="safariHelp()" ng-show="isSafari">{{$root.DICT.portal.SAFARI}}</span>
                    <span class="btn-getstarted" ng-click="showHelp=true;$root.GA('login:help')">{{$root.DICT.portal.GET_STARTED}}</span>
                </p>
            </div>
        </div>
        <div class="b">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2>{{$root.DICT.portal.H2}}</h2>
                        <p>{{$root.DICT.portal.H2_P}}</p>
                    </div>
                    <div class="span5">
                        <a href="https://play.google.com/store/apps/details?id=com.snappea" class="link-to-gp"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-modal wd-portal-getstarted"
        data-toggle="showHelp"
        data-ok="showHelp=false"
        data-cancel="showHelp=false"
        data-header="Where's my passcode?"
        >
        <div class="row-fluid">
            <div class="span4 step1">
                <div class="figure"></div>
                <p>1) Install SnapPea from <a href="https://play.google.com/store/apps/details?id=com.snappea">Google Play</a></p>
            </div>
            <div class="span4 step2">
                <div class="figure"></div>
                <p>2) Open SnapPea on your phone</p>
            </div>
            <div class="span4 step3">
                <div class="figure"></div>
                <p>3) Your passcode is on the start page</p>
            </div>
        </div>
    </div>
    <div class="wd-loading"  ng-switch-when="true" data-visible="true"></div>
</div>
