// Variables
$global-line-height: 20px;
$global-transition-duration: 0.4s;
$global-left-offset: 60px;


// http://docs.angularjs.org/api/ng.directive:ngCloak
[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

html, body {
    height: 100%;
    overflow: hidden;
}

.viewport {
    @include position;
    height: 100%;
    margin-left: $global-left-offset;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: #fff;
}

a, a:hover {
    color: #3c7800;
}

// Prevent tooltip wrap.
.tooltip-inner {
    @include nowrap;
}

.btn {
    font-size: 12px;
}

.modal {
    @include user-select(none);
    width: 350px;
    margin-left: -175px;

    .modal-body {
        color: #999;
    }
}
.close {
    @include button-effect-light;
}

.alert {
    h4 {
        color: inherit;
    }
    color: inherit;
}

@import "common/*.png";
@import "scrollbar";
