// Variables
$global-line-height: 20px;
$global-transition-duration: 0.4s;
$global-left-offset: 60px;


// http://docs.angularjs.org/api/ng.directive:ngCloak
[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

html, body {
    height: 100%;
    overflow: hidden;
}

.viewport {
    @include position;
    height: 100%;
    margin-left: $global-left-offset;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: #fff;
}

a, a:hover {
    color: #3c7800;
}

input[type=checkbox] {
    // WebKit-only hacks
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        position: relative;
        -webkit-appearance: none;
        $height: icon-height("check");
        $margin-top: round(($global-line-height - $height) / 2);
        width: icon-width("check");
        height: $height;
        margin: $margin-top 0 ($global-line-height - $height - $margin-top);
        border: 0;
    }

    &:not(:checked):after {
        content: "";
        @include position(absolute, 0px 0 0 0px);
        width: icon-width("check");
        height: icon-height("check");
        @include use-sprite("check");
    }
    &:not(:checked):hover:after {
        @include use-sprite("check-h");
    }
    &:checked:after{
        content: "";
        @include position(absolute, 0px 0 0 0px);
        width: icon-width("checked");
        height: icon-height("checked");
        @include use-sprite("checked");
    }

}

// Prevent tooltip wrap.
.tooltip-inner {
    @include nowrap;
}

.btn {
    font-size: 12px;
}

.modal {
    @include user-select(none);
    width: 350px;
    margin-left: -175px;

    .modal-body {
        color: #999;
    }
}
.close {
    @include button-effect-light;
}

.alert {
    h4 {
        color: inherit;
    }
    color: inherit;
}

@import "common/*.png";
@import "scrollbar";
