// Variables
$global-line-height: 20px;
$global-transition-duration: 0.4s;


// http://docs.angularjs.org/api/ng.directive:ngCloak
[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

body {
    background: image-url("bg-pattern.png");
}

.tooltip-inner {
    @include nowrap;
}

@import "loading";
