<div class="wdj-applications">

    <div class="wd-loading" data-visible="true" ng-show="isLoadShow"></div>

    <!-- 应用列表 -->
    <div class="apps-list">

        <!-- 新安装的应用列表 -->
        <dl class="new-list" ng-repeat="item in newList">
            <dt><div class="new-app-image"></div></dt>
            <dd class="title" title="{{item.file_name}}">{{item.file_name}}</dd>
            <dd class="progress" ng-show="item.progressShow"><span style="width:{{item.progress}}"></span></dd>

            <!-- 确认提示 -->
            <dd class="confirm" ng-show="item.confirmTipShow">
                <i class="icon-phone"></i>
                <p>{{$root.DICT.applications.CONFIRMS.INSTALL}}</p>
                <i bs-tooltip="Cancel" class="icon-close" ng-click="closeUploadApp(item);"></i>
                <i bs-tooltip="Reinstall" class="icon-retry" ng-click="reinstall(item)"></i>
            </dd>
            <!-- 确认提示 end -->
        </dl>
        <!-- 新安装的应用列表 end -->

        <!-- 已安装的应用列表 -->
        <dl ng-repeat="item in list" ng-click="showAppInfo(item.package_name);" ng-class="{'confirm':item.confirmTipShow}">
            <dt><img ng-src="{{item.icon}}"></dt>
            <dd class="title" title="{{item.name}}">{{item.name}}</dd>
            <dd class="toolbar" ng-click="$event.stopPropagation();">
                <span class="btn-icon-check" bs-tooltip="Select">
                    <input type="checkbox" ng-checked="item.checked" ng-model="item.checked" ng-click="checkedApp($event)">
                </span>
                <span class="btn-icon-del" ng-click="delApp(item.package_name);clickHoverUninstall();" bs-tooltip="Uninstall">
                    <i class="icon-delt"></i>
                </span>
            </dd>

            <!-- 确认提示 -->
            <dd class="confirm" ng-show="item.confirmTipShow" ng-click="$event.stopPropagation();">
                <i class="icon-phone"></i>
                <p>{{$root.DICT.applications.CONFIRMS.UNINSTALL}}</p>
                <i bs-tooltip="Cancel" class="icon-close" ng-click="closeConfirm(item,$event)"></i>
                <i bs-tooltip="Uninstall" class="icon-retry" ng-click="delApp(item.package_name);clickRetryUninstall();"></i>
            </dd>
            <!-- 确认提示 end -->

            <!-- 安装完毕提示 -->
            <dd class="done" ng-show="item.doneTipShow"><i class="icon-sel_white"></i><p>{{$root.DICT.applications.CONFIRMS.INSTALL_COMPLETE}}</p></dd>
            <!-- 安装完毕提示 end -->

        </dl>
        <!-- 已安装的应用列表 end -->

    </div>
    <!-- 应用列表 end -->

    <!-- header -->
    <div class="header">
        <div class="btn btn-primary installApp" ng-click="clickInstallApk()" ng-disabled="isInstallBtnDisable">
            <i class="icon-add"></i>
            {{$root.DICT.applications.BUTTONS.INSTALL_APPS}}
        </div>
        <button class="btn select-all" ng-click="deselectAll()" ng-show="isDeselectBtnShow">
            <i class="sel-toolbar"></i>
            <p>{{$root.DICT.applications.BUTTONS.DESELECT}} ({{selectedNum}})</p>
        </button>
        <button class="btn delete-all" ng-click="delMoreApps()" ng-show="isDeleteBtnShow">
            <i class="icon-del-toolbar"></i>
            {{$root.DICT.applications.BUTTONS.UNINSTALL}}
        </button>
    </div>
    <!-- header end -->

    <!-- 遮罩层 -->
    <div class="mask" ng-click="closeMask()">

        <!-- 显示应用信息 -->
        <dl class="info" ng-click="$event.stopPropagation();">
            <span class="close-btn" ng-click="closeMask()">&times;</span>
            <dt>
                <img ng-src="{{info.icon}}">
                <h2>{{info.name}}</h2>
            </dt>
            <hr>
            <div class="detail-info">
                <dd>
                    <p class="title">{{$root.DICT.applications.WORDS.SIZE}}:</p>
                    <p class="detail">{{info.apk_size}} M</p>
                </dd>
                <dd>
                    <p class="title">{{$root.DICT.applications.WORDS.INSTALLATION}}:</p>
                    <p class="detail">{{info.installed_location}}</p>
                </dd>
                <dd>
                    <p class="title">{{$root.DICT.applications.WORDS.VERSION}}:</p>
                    <p class="detail">{{info.version_name}}</p>
                </dd>
                <dd>
                    <p class="title">{{$root.DICT.applications.WORDS.PERMISSIONS}}:</p>
                    <ul class="detail">
                        <li ng-repeat="item2 in info.requested_permission">
                            <p>{{item2}}</p>
                        </li>
                    </ul>
                </dd>
            </div>
            <div class="buttons" ng-click="delApp(info.package_name);clickInfoUninstall();">
                <i class="icon-info-del"></i><p>{{$root.DICT.applications.BUTTONS.UNINSTALL}}</p>
            </div>
        </dl>
        <!-- 显示应用信息 end -->

        <!-- 显示未知来源提示 -->
        <div class="unknowApkTips" ng-click="$event.stopPropagation();">
            <span class="close-btn" ng-click="closeMask()">&times;</span>
            <h2>{{$root.DICT.applications.CONFIRMS.UNKNOWNTIPS}}</h2>
            <div class="unknowTips"></div>
            <ul>
                <li>1. In the pop-up window click settings.</li>
                <li>2. In the safe list check allows. The unknown source applications.</li>
                <li>3. Click OK.</li>
            </ul>
            <button class="btn btn-primary" ng-click="reinstall()">
                {{$root.DICT.applications.BUTTONS.COMPLETE}}
            </button>
        </div>
        <!-- 显示未知来源提示 end -->

    </div>
    <!-- 遮罩层 end  -->

    <!-- 为空检测 -->
    <div class="wd-blank" ui-if="dataLoaded && !(list.length+newList.length)">
        <p>{{$root.DICT.applications.NOAPP}}<p>
        <div class="btn btn-primary installApp" ng-click="clickInstallApk();"><i class="icon-add"></i>{{$root.DICT.applications.BUTTONS.INSTALL_APPS}}</div>
    </div>
    <!-- 为空检测 end -->

    <!-- 版本检测 -->
    <div ui-if="!serverMatchRequirement" class="wd-upgrade-warning" data-text="{{$root.DICT.applications.UPGRADE_TIP}}"></div>
    <!-- 版本检测 end -->

</div>
