<div class="wdj-applications">

    <!-- <div class="wd-loading" data-visible="true"></div> -->
    <!-- header -->
    <div class="header">
        <button class="btn btn-primary installApp">
            <i class="icon-add"></i>
            Install app
        </button>
        <button class="btn select-all" ng-click="selectAll()">
            <i class="icon-sel"></i>
            Select all
        </button>
        <button class="btn delete-all" ng-click="delMoreApps()">
            <i class="icon-del"></i>
            Delete
        </button>
    </div>
    <!-- header end -->

    <!-- 应用列表 -->
    <div class="apps-list">

        <!-- 新安装的应用列表 -->
        <dl class="new-list" ng-repeat="item in newList">
            <dt><img src="../../images/applications/app_default.png"></dt>
            <dd class="title" title="{{item.package_name}}">{{item.package_name}}</dd>
            <!-- <dd class="toolbar"></dd> -->
        </dl>
        <!-- 新安装的应用列表 end -->

        <!-- 已安装的应用列表 -->
        <dl ng-repeat="item in list" ng-click="showAppInfo(item.package_name);">
            <dt><img ng-src="{{item.icon}}"></dt>
            <dd class="title" title="{{item.name}}">{{item.name}}</dd>
            <dd class="toolbar" ng-click="$event.stopPropagation();">
                <span class="btn-icon-check">
                    <input type="checkbox" ng-checked="item.checked" ng-model="item.checked" ng-click="checkedApp($event)">
                </span>
                <span class="btn-icon-del" ng-click="delApp(item.package_name)">
                    <i class="icon-del"></i>
                </span>
            </dd>
        </dl>
        <!-- 已安装的应用列表 end -->

    </div>
    <!-- 应用列表 end -->

    <!-- 遮罩层 -->
    <div class="mask">
        <dl class="info">
            <span class="close-btn" ng-click="closeAppInfo()">&times;</span>
            <dt>
                <img ng-src="{{info.icon}}">
                <h2>{{info.name}}</h2>
            </dt>
            <hr>
            <div class="detail-info">
                <dd>
                    <p class="title">Size:</p>
                    <p class="detail">{{info.apk_size}} M</p>
                </dd>
                <dd>
                    <p class="title">Installation:</p>
                    <p class="detail">{{info.installed_location}}</p>
                </dd>
                <dd>
                    <p class="title">Version:</p>
                    <p class="detail">{{info.version_name}}</p>
                </dd>
                <dd>
                    <p class="title">Permission:</p>
                    <ul class="detail">
                        <li ng-repeat="item2 in info.requested_permission">{{item2}}</li>
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
    <!-- 遮罩层 end  -->
</div>
