// Global Navbar.
// Basic styles are modified in bootstrap submodule.


.navigator {
    @include position(fixed, 0px 0 0px 0px);
    width: 60px;

    & > .navigator-inner {
        @include position;
        width: 100%;
        height: 100%;
        background-color: #2b2b2b;
        @include background-image(linear-gradient(right, #2a2a2a, #2c2c2c));
        @include box-shadow(inset -2px 0 2px rgba(#000, 0.2));

        .brand {
            text-align: center;
            height: 92px;
        }

        .nav {
            margin: 0;
            & > li {
                margin: 17px 0;
                &:first-of-type {
                    margin-top: 0;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                & > a {
                    height: 55px;
                    text-align: center;
                }
            }
        }

        .nav-settings {
            @include position(absolute, 0 0px 0px 0px);
            a {
                color: #fff;
                font-size: 10px;
            }
            .signout {
                border-top: 1px solid #1d1d1d;
                @include box-shadow(inset 0 1px 0 rgba(#fff, 0.05));
            }

            li:not(:last-of-type) a {
                font-family: Arial;
                opacity: 0.3;
                &:hover, &:focus {
                    opacity: 1;
                }
                &:active {
                    opacity: 0.5;
                }
            }

            @media screen and (max-height: 600px) {
                li:not(:last-of-type) {
                    display: none;
                }
            }
        }
    }
    // logo & icons
    i.icon-logo64 {
        $width: icon-width("logo64");
        $height: icon-height("logo64");
        width: $width;
        height: $height;
        $margin: (92px - $height) / 2;
        margin: $margin 0;
    }
    .nav > li > a {
        @include transition(opacity $global-transition-duration,
                            background $global-transition-duration * 1.5);
        opacity: 0.65;
    }


    .nav > .active > a {
        &, &:hover, &:focus {
            background-color: #6db800;
        }
        &, &:active {
            opacity: 1;
        }
    }
    .nav > li > a {
        &:hover, &:focus {
            opacity: 1;
            background-color: transparent;
        }
        &:active {
            opacity: 0.5;
        }
    }
    @each $icon in "app", "contact", "img", "sms", "signout" {
        i.icon-#{$icon} {
            width: icon-width($icon);
            $height: icon-height($icon);
            height: $height;
            $margin: (55px - $height) / 2 - 1px;
            margin-top: $margin;
            margin-bottom: $margin;
        }
    }

    .notification {
        @include position;
    }
    .notification:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background: #6eb800;
        @include position(absolute, 10px 10px 0 0);
    }

}
