.contacts-edit{
    position: fixed;
    overflow-y : auto;
    height:95%;
    right: 0px;
    left: 514px;

    .photo{
        margin-top: 25px;
        width: 127px;
        height: 127px;
    }

    .photoUpload{
        top: -129px;
        overflow: hidden;
        width: 128px;
        height: 128px;
        input{
            font-family: arial, sans-serif;
            width: 200px;
            height: 200px;
        }
        input::-ms-clear {
            display: none;
        }
        .mask{
            width: 127px;
            height: 127px;
            cursor: pointer;

            div.bg{
                width: 127px;
                height: 127px;
                opacity: 0.6;
                background-color: #000;
            }

            span{
                position: absolute;
                top: 0px;
                width: 127px;
                height: 127px;
                background:url("../../images/contacts/profileicon.png") no-repeat 50% 40%;
            }

            p{
                position: absolute;
                top: 75px;
                left: 13px;
                color: #FFF;
                font-size: 14px;
                font-weight: bold;
                text-overflow: ellipsis;
            }

        }

    }

    .footer{
        position: fixed;
        right: 10px;
        height: 45px;
        left: 429px;
        background-color: #FFF;
        opacity: 0.9;
        bottom: 0px;

        .btn{
            width: 80px;
            margin-left: 5px;
            float: right;
        }
    }

    .info{
        margin-top:73px;
        margin-left: 25px;
        position: absolute;
        top:0px;
        left: 127px;
        right: 50px;

        hr{
            border: 0px;
            height: 5px;
            background-color: #ededed;
            margin-top: 8px;
        }

        select{
            min-width: 115px;
            width: 18%;
            margin-right: 4px;
            background:#f5f5f5 url("../../images/contacts/select.png") no-repeat 97% 50%;
            border: 1px solid #d6d6d6;
            line-height: 28px;
            padding-left: 10px;
            height: 38px;
            -webkit-appearance:none;
            -moz-appearance:none;
        }

        select:focus{
            background-color: #FFF;
        }

        input{
            margin-bottom: 10px;
            background-color:#f5f5f5;
            width: 30%;
            box-shadow:none;
            height: 28px;
            line-height: 28px;
            font-family: arial, sans-serif;
        }
        input::-ms-clear {
            display: none;
        }
        input:focus{
            border-color:#CCC;
            box-shadow:none;
            background-color: #FFF;
        }


        .name{
            font-size: 35px;
            line-height: 45px;
            height: 45px;
            width: 84%;
            overflow: hidden;
            margin-bottom: 0px;
            text-overflow: ellipsis;
        }

        .editName{
            color: #000;
            margin-top: -25px;

            input{
                height: 28px;
                line-height: 28px;
            }
            input::-ms-clear {
                display: none;
            }
            div.account{

                select{
                    margin-right: 4px;
                    background:#f5f5f5 url("../../images/contacts/select.png") no-repeat 97% 50%;
                    border: 1px solid #d6d6d6;
                    padding-left: 10px;
                    -webkit-appearance:none;
                    -moz-appearance:none;
                    width: 350px;
                    line-height: 28px;
                    height: 38px;
                }
            }

            .name{
                margin-right: 4px;
                width: 28%;
                font-size: 15px;
                overflow: hidden;
            }

            .title{
                margin-right: 4px;
                width: 23%;
                margin-top: 10px;
            }
            .company{
                margin-top: 10px;
                margin-right: 4px;
                width: 50%;
            }
        }

        .remark{
            color: #cccccc;
            font-size:13px;
        }

        .btn-addNewItem{
            margin-top: 5px;
        }

        .newItem{
            margin-bottom: 5px;
        }

        dl{
            margin-top: 25px;

            dt{
                font-size: 16px;
                margin-bottom: 10px;
            }

            dd{
                margin-left: 0px;

                p{
                    display: inline-block;
                    font-size: 15px;
                    text-overflow: ellipsis;
                }

                p.des{
                    color: #b3b3b3;
                    width: 85px;
                }

                p.labelFlag{
                    color: #b3b3b3;
                    width: 85px;
                }

                p.dn{
                    display: none;
                }

                input.label{
                    width: 102px;
                    margin-right: 4px;
                }
                input::-ms-clear {
                    display: none;
                }
                input:focus{
                    background-color: #FFF;
                }


            }
        }

        span.delete{
            margin-left: 5px;
            font-size: 25px;
            line-height: 25px;
            height: 25px;
            cursor:pointer;
            @include button-effect;
        }

    }
}
