/* 联系人信息界面CSS */
.contacts-edit{
    position: fixed;
    overflow-y : auto;
    width: 70%;
    min-width: 300px;
    height:85%;

    .photo{
        margin-top: 20px;
        width: 130px;
        height: 130px;
    }

    .info{
        margin-top:75px;
        margin-left:50px;
        width: 500px;
        position: absolute;
        top:0px;
        left: 110px;

        hr{
            border: 0px;
            height: 5px;
            background-color: #ededed;
        }

        .name{
            font-size: 28px;
        }

        .remark{
            color: #cccccc;
            font-size:13px;
        }

        dl{
            margin-top: 25px;

            dt{
                font-size: 18px;
                margin-bottom: 10px;
            }

            dd{
                margin-left: 0px;

                p{
                    display: inline-block;
                    font-size: 15px;
                }

                p.des{
                    color: #b3b3b3;
                    width: 85px;
                }

            }
        }
    }
}
