    @import "icon";

.wdj-contacts{

    .pf{
        position: fixed;
    }
    .pa{
        position: absolute;
    }

    .dn{
        display: none;
    }

    ul{
        list-style: none;
        margin: 0px;
    }

    .contacts-list{
        position: fixed;
        overflow-y : auto;
        top:100px;
        width: 428px;
        display: block;
        padding-left: 1px;
        margin-left: -1px;
        bottom: 0px;

        li.no-contacts{
            height: 64px;
            text-align: center;
            line-height: 64px;
            font-size: 12px;
        }
        li.load-more{
            display: block;
            width: 80px;
            padding: 10px 40px;
            margin: 10px auto;
            border-radius: 20px;
            background: #E6E6E6;
            text-align: center;
            opacity: 0.7;
            cursor: pointer;
        }
        li .wd-loading{
            top:138px;
        }
        .clicked{
            background-color: #444444!important;
            color: #FFFFFF;
            cursor: default;
            border-right: 1px solid #444444;
        }

        div.page-btn{
            height: 40px;
            display: block;
            width: 99%;
            line-height: 25px;

            p{
                color: blue;
                display: inline;
                margin-left: 3px;
                cursor: pointer;
            }
            .now{
                background-color: #888;
            }
            div.page{
                display: inline;
                cursor: pointer;
                span{
                    margin-left:3px;
                    color:blue;
                }
            }
        }

    }

    .btn-all{
        position: fixed;
        top: 0px;
        background-color: #FFF;
        min-width: 350px;
        width: 428px;
        height: 90px;
        border-bottom: 1px solid #e7e7e7;
        padding-top: 10px;
        z-index: 200;

        .btn-new{
            margin-left: 10px;
        }

        .btn-selectAll{
            margin-left: 2px;
        }

        .btn-delete{
            margin-left: 2px;
        }
    }

    div.search{

        border-top: 1px solid #e7e7e7;
        margin-top: 10px;
        padding-left: 10px;
        padding-top: 9px;
        cursor: pointer;

        i.icon-search{
            position: absolute;
            left: 17px;
            top: 66px;
        }

        input::-ms-clear {
            display: none;
        }

        input{
            border-color: #CCC;
            background: #F5F5F5;
            font-size: 12px;
            line-height: 25px;
            padding-left: 28px;
            padding-right: 25px;
            width: 353px;
            height: 22px;
            box-shadow: none;
        }

        span.icon-clear{
            @include button-effect;
            position: absolute;
            right: 18px;
            font-size: 25px;
            width: 14px;
            overflow: hidden;
            padding-top: 6px;
            @extend .icon-close;
            &:hover {
                @extend .icon-close-h;
                right: 16px;
            }
            &:active {
                @extend .icon-close-p;
                right: 18px;
            }

        }

        input:focus{
            border-color:#CCC;
            box-shadow:none;
            background-color: #FFF;
        }

    }

    .left{
        float: left;
        width: 428px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        border-right: 1px solid #E7E7E7;

        .wd-loading{
            left : 280px;
        }
    }

    .right{
        float: left;

        .wd-loading{
            left: 65%;
        }

        .progress{
            width: 300px;
        }
    }

	@import "item";
	@import "edit";
}
