.wdj-contacts{

    .pf{
        position: fixed;
    }
    .pa{
        position: absolute;
    }

    .dn{
        display: none;
    }

    ul{
        list-style: none;
        margin: 0px;
    }

    .contacts-list{
        position: fixed;
        overflow-y : auto;
        top:106px;
        bottom: 76px;
        width: 25%;
        min-width: 350px;
        display: block;
        padding-left: 1px;
        border-right: 1px solid #e7e7e7;
        margin-left: -1px;

        li.no-contacts{
            height: 64px;
            text-align: center;
            line-height: 64px;
            font-size: 18px;
            border-bottom: 1px solid #e7e7e7;
        }

        .clicked{
            background-color: #444444!important;
            color: #FFFFFF;
            cursor: default;
            border-right: 1px solid #444444;
        }

    }

    .btn-all{
        position: fixed;
        top: 0px;
        background-color: #FFF;
        min-width: 350px;
        width: 25%;
        height: 93px;
        border-bottom: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        padding-top: 12px;
        z-index: 200;

        .btn-new{
            margin-left: 3%;
        }

        .btn-selectAll{
            margin-left: 8px;
        }

        .btn-delete{
            margin-left: 8px;
        }
    }

    div.search{

        border-top: 1px solid #e7e7e7;
        margin-top: 10px;
        padding-left: 15px;
        padding-top: 9px;
        cursor: pointer;

        input{
            font-size: 16px;
            line-height: 25px;
            padding-left: 33px;
            padding-right: 25px;
            width: 78%;
            height: 22px;
            background:#f5f5f5 url("../../images/contacts/icon_search.png") no-repeat 3% 50%;
        }

        input:focus{
            background-color: #FFF;
        }

        span.icon-clear{
            position: absolute;
            left:89%;
            font-size: 25px;
            padding-top: 8px;
        }

    }

    .left{
        padding-top: 62px;
        float: left;
        width: 30%;
        min-width: 370px;
    }

    .right{
        float: left;
    }

	@import "item";
	@import "edit";
    @import "icon";
}
