<style type="text/css">
html{color:#000;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}

.contacts-edit .photo{
    float: left;
}
.contacts-edit .info{
    margin-top:75px;
    margin-left:30px;
    width: 500px;
    float: left;
}
.contacts-edit .info hr{
    border: 0px;
    height: 5px;
    background-color: #ededed;
}
.contacts-edit .info .name{
    font-size: 28px;
}
.contacts-edit .info .remark{
    color: #cccccc;
    font-size:13px;
}
.contacts-edit .info dl{
    margin-top: 25px;
}
.contacts-edit .info dl dt{
    font-size: 18px;
}
.contacts-edit .info dl dd{
    margin-top: 10px;
}
.contacts-edit .info dl dd p{
    display: inline-block;
    font-size: 15px;
}
.contacts-edit .info dl dd p.des{
    color: #b3b3b3;
    width: 85px;
}
</style>

<!-- 查看和编辑用户信息 -->
<div class="contacts-edit">
	<img class="photo" src="../../images/test-contacts.png">
	<div class="info">
		<p class="name">Alic Wang</p>
		<p class="remark">HSBC Hong Kong</p>
        <hr>

        <!-- 每个独立的信息 start -->
		<dl>
			<dt>PHONE</dt>
			<dd>
				<p class="des">Mobile</p>
				<p class="detail">+1(617)722-3267</p>
			</dd>
		</dl>
		<!-- 每个独立的信息 end -->

	</div>
</div>
