<div class="wdj-contacts">

    <!-- 左侧布局 -->
    <div class="left dn">

        <div class="btn-all">
            <button class="btn btn-primary btn-new" type="button" ng-click="addNewContact()">
                <i class="icon-ab-add"></i>
                New contact
            </button>
            <button class="btn btn-selectAll" type="button" ng-click="selectAll()">
                <i class="icon-ab-sel"></i>
                Select all
            </button>
            <button class="btn btn-delete dn" type="button" ng-click="deleteContacts()">
                <i class="icon-ab-del"></i>
                Delete
            </button>
            <div class="search">
                <input type="text" ng-model="searchText" placeholder="Search contacts...">
                <span class="icon-clear" ng-show="searchText" ng-click="searchText='';clearSearch();">&times;</span>
            </div>
        </div>

        <ul class="contacts-list">

            <!-- 没有联系人时显示 -->
            <li class="no-contacts dn">No contacts matched your search.</li>
            <!-- 没有联系人时显示 end -->

            <!-- 每个联系人的模板 -->
            <li class="contacts-item" ng-repeat="item in pageList" ng-click="showContacts(item.id)" ng-class="{clicked:item.clicked,checked:item.checked}">
                <label class="selected" ng-model="item.checked" ng-click="clickChecked(item.checked);$event.stopPropagation();">
                    <input class="selected" type="checkbox" ng-checked="item.checked" ng-model="item.checked" >
                </label>
                <img class="photo" ng-src="{{item.photo}}">
                <div class="info">
                    <p class="name">{{item.name}}</p>
                    <p class="phone">{{item.phone}}</p>
                </div>
            </li>
            <!-- 每个联系人的模板 end -->

            <!-- 增加load more -->
            <li class="load-more dn" ng-click="loadMore();">load more</li>
            <!-- 增加load more end -->
        </ul>

    </div>
    <!-- 左侧布局 end -->

    <!-- 右侧布局 -->
    <div class="right dn">

        <div class="wd-loading" data-visible="true"></div>

        <!-- 查看和编辑用户信息 -->
        <div class="contacts-edit">
            <img class="photo" ng-src="{{contact.photo_path}}">

            <!-- 上传图片遮罩 start -->
            <!--
            <div class="photoUpload dn">
                <div class="mask">
                    <div class="bg"></div>
                    <span class="icon"></span>
                    <p>Change Photo</p>
                </div>
            </div>
            -->
            <!-- 上传图片遮罩 end -->

            <div class="info">
                <p class="name">{{contact.name.display_name}}</p>
                <p class="remark">{{contact.organization[0].company}}</p>
                <div class="editName dn">
                    <div class="account dn">
                        <h4>Account</h4>
                        <select ng-model="contact.account" ng-options="value.name for (key , value) in accounts"></select>
                    </div>
                    <h4>Name & Organization</h4>
                    <input class="name" type="text" ng-model="contact.name.given_name" placeholder="First name">
                    <input class="name" type="text" ng-model="contact.name.middle_name" placeholder="Middle name">
                    <input class="name" type="text" ng-model="contact.name.family_name" placeholder="Last name">
                    <input class="company" type="text" ng-model="contact.organization[0].company"  placeholder="Company">
                    <input class="title" type="text" ng-model="contact.organization[0].title" placeholder="Title">
                </div>
                <hr>

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.phone">Phone</dt>
                    <dd ng-repeat="item in contact.phone">
                        <p class="des dn">{{item.type}}</p>
                        <p class="labelFlag dn">{{item.label}}</p>
                        <select class="des dn" ng-model="item.type" ng-options="value for (key , value) in typeMap.phone"></select>
                        <input class="label dn" ng-model="item.label" type="text" placeholder="Custom label">
                        <p class="detail dn">{{item.number}}</p>
                        <input class="detail dn" type="text" ng-model="item.number"  placeholder="Phone number">
                        <span class="delete dn" ng-click="delItem('phone',item)">&times;</span>
                    </dd>

                    <!-- 新增一个item start -->
                    <button type="button" class="btn btn-addNewItem dn" ng-click="addNewItem(contact.id,'phone')" ng-show="contact.phone">Add new item</button>
                    <!-- 新增一个item end -->

                </dl>
                <!-- 每个独立的信息 end -->

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.email">E-mail</dt>
                    <dd ng-repeat="item in contact.email">
                        <p class="des dn">{{item.type}}</p>
                        <p class="labelFlag dn">{{item.label}}</p>
                        <select class="des dn" ng-model="item.type" ng-options="value for (key , value) in typeMap.email"></select>
                        <input class="label dn" ng-model="item.label" type="text" placeholder="Custom label">
                        <p class="detail dn">{{item.address}}</p>
                        <input class="detail dn" type="text" ng-model="item.address"  placeholder="Email address">
                        <span class="delete dn" ng-click="delItem('email',item)">&times;</span>
                    </dd>

                    <!-- 新增一个item start -->
                    <button type="button" class="btn btn-addNewItem dn" ng-click="addNewItem(contact.id,'email')" ng-show="contact.email">Add new item</button>
                    <!-- 新增一个item end -->

                </dl>
                <!-- 每个独立的信息 end -->

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.address">Address</dt>

                    <dd ng-repeat="item in contact.address">
                        <p class="des dn">{{item.type}}</p>
                        <p class="labelFlag dn">{{item.label}}</p>
                        <select class="des dn" ng-model="item.type" ng-options="value for (key , value) in typeMap.address"></select>
                        <input class="label dn" ng-model="item.label" type="text" placeholder="Custom label">
                        <p class="detail dn">{{item.formatted_address}}</p>
                        <input class="detail dn" type="text" ng-model="item.formatted_address" placeholder="Address">
                        <span class="delete dn" ng-click="delItem('address',item)">&times;</span>
                    </dd>

                    <!-- 新增一个item start -->
                    <button type="button" class="btn btn-addNewItem dn" ng-click="addNewItem(contact.id,'address')" ng-show="contact.address">Add new item</button>
                    <!-- 新增一个item end -->

                </dl>
                <!-- 每个独立的信息 end -->

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.IM">IM</dt>
                    <dd ng-repeat="item in contact.IM">
                        <p class="des dn">{{item.protocol}}</p>
                        <p class="labelFlag dn">{{item.label}}</p>
                        <select class="des dn" ng-model="item.protocol" ng-options="value for (key , value) in protocolMap"></select>
                        <input class="label dn" ng-model="item.label" type="text" placeholder="Custom label">
                        <p class="detail dn">{{item.data}}</p>
                        <input class="detail dn" type="text" ng-model="item.data" placeholder="IM">
                        <span class="delete dn" ng-click="delItem('IM',item)">&times;</span>
                    </dd>

                    <!-- 新增一个item start -->
                    <button type="button" class="btn btn-addNewItem dn" ng-click="addNewItem(contact.id,'IM')" ng-show="contact.IM">Add new item</button>
                    <!-- 新增一个item end -->

                </dl>
                <!-- 每个独立的信息 end -->

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.website">Website</dt>
                    <dd ng-repeat="item in contact.website">
                        <p class="des dn">{{item.type}}</p>
                        <p class="labelFlag dn">{{item.label}}</p>
                        <select class="des dn" ng-model="item.type" ng-options="value for (key , value) in typeMap.website"></select>
                        <input class="label dn" ng-model="item.label" type="text" placeholder="Custom label">
                        <p class="detail dn">{{item.URL}}</p>
                        <input class="detail dn" type="text" ng-model="item.URL"  placeholder="Website">
                        <span class="delete dn" ng-click="delItem('website',item)">&times;</span>
                    </dd>

                    <!-- 新增一个item start -->
                    <button type="button" class="btn btn-addNewItem dn" ng-click="addNewItem(contact.id,'website')" ng-show="contact.website">Add new item</button>
                    <!-- 新增一个item end -->

                </dl>
                <!-- 每个独立的信息 end -->

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.relation">Relationship</dt>
                    <dd ng-repeat="item in contact.relation">
                        <p class="des dn">{{item.type}}</p>
                        <p class="labelFlag dn">{{item.label}}</p>
                        <select class="des dn" ng-model="item.type" ng-options="value for (key , value) in typeMap.relation"></select>
                        <input class="label dn" ng-model="item.label" type="text" placeholder="Custom label">
                        <p class="detail dn">{{item.name}}</p>
                        <input class="detail dn" type="text" ng-model="item.name"  placeholder="Relationship">
                        <span class="delete dn" ng-click="delItem('relation',item)">&times;</span>
                    </dd>

                    <!-- 新增一个item start -->
                    <button type="button" class="btn btn-addNewItem dn" ng-click="addNewItem(contact.id,'relation')" ng-show="contact.relation">Add new item</button>
                    <!-- 新增一个item end -->

                </dl>
                <!-- 每个独立的信息 end -->

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.note">Note</dt>
                    <dd ng-repeat="item in contact.note">
                        <p class="des dn">{{item.type}}</p>
                        <p class="labelFlag dn">{{item.label}}</p>
                        <select class="des dn" ng-model="item.type" ng-options="value for (key , value) in typeMap.note"></select>
                        <input class="label dn" ng-model="item.label" type="text" placeholder="Custom label">
                        <p class="detail dn">{{item.note}}</p>
                        <input class="detail dn" type="text" ng-model="item.note"  placeholder="Note">
                        <span class="delete dn" ng-click="delItem('note',item)">&times;</span>
                    </dd>

                    <!-- 新增一个item start -->
                    <button type="button" class="btn btn-addNewItem dn" ng-click="addNewItem(contact.id,'note')" ng-show="contact.note">Add new item</button>
                    <!-- 新增一个item end -->

                </dl>
                <!-- 每个独立的信息 end -->

            </div>

            <div class="footer">
                <button class="btn btn-edit" ng-show="!contact.read_only" type="button" ng-click="editContact(contact.id)">Edit</button>
                <button class="btn btn-del" ng-show="!contact.read_only" type="button" ng-click="deleteContacts(contact.id)">Delete</button>
                <button class="btn btn-primary btn-save dn" type="button" ng-click="saveContact(contact.id)">Save</button>
                <button class="btn btn-cancel dn" type="button" ng-click="cancelContact(contact.id)">Cancel</button>
            </div>

        </div>
        <!-- 查看和编辑用户信息 end -->

    </div>
    <!-- 右侧布局 end -->

    <!-- 为空检测 -->
    <div class="wd-blank dn">
        <p>No contacts on your phone. Your friends are waiting!<p>
        <div class="btn btn-primary"
            ng-click="addNewContact();"><i class="icon-ab-add"></i> New contact</div>
    </div>
    <!-- 为空检测 end -->
    <!-- 版本检测 -->
    <div ui-if="!serverMatchRequirement" class="wd-upgrade-warning" data-text="{{$root.DICT.messages.UPGRADE_TIP}}"></div>
    <!-- 版本检测 end -->

</div>
