<div class="contacts">

    <!-- 左侧布局 -->
    <div class="left">

        <div class="btn-all">
            <button class="btn btn-primary btn-new" type="button">New contact</button>
            <button class="btn btn-selectAll" type="button">select all</button>
        </div>

        <ul class="contacts-list">

            <!-- 每个联系人的模板 -->
            <li class="contacts-item" ng-repeat="item in list" ng-click="showContacts(item.id)" ng-class="{clicked:item.clicked}">
                <input class="selected" type="checkbox">
                <img class="photo" src="{{item.photo}}">
                <div class="info">
                    <p class="name">{{item.name}}</p>
                    <p class="phone" ng-show="item.phone">{{item.phone}}</p>
                </div>
            </li>
            <!-- 每个联系人的模板 end -->

        </ul>

    </div>
    <!-- 左侧布局 end -->

    <!-- 右侧布局 -->
    <div class="right">

        <!-- 查看和编辑用户信息 -->
        <div class="contacts-edit">
            <img class="photo" src="{{contact.photo_path}}">
            <div class="info">
                <p class="name">{{contact.name.display_name}}</p>
                <p class="remark">HSBC Hong Kong</p>
                <hr>

                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.phone">PHONE</dt>
                    <dd ng-repeat="item in contact.phone">
                        <p class="des" ng-show="item.number">{{item.type}}</p>
                        <p class="detail" ng-show="item.number">{{item.number}}</p>
                    </dd>
                </dl>
                <!-- 每个独立的信息 end -->
                <!-- 每个独立的信息 start -->
                <dl>
                    <dt ng-show="contact.email">E-MAIL</dt>
                    <dd ng-repeat="item in contact.email">
                        <p class="des" ng-show="item.address">{{item.type}}</p>
                        <p class="detail" ng-show="item.address">{{item.address}}</p>
                    </dd>
                </dl>
                <!-- 每个独立的信息 end -->

            </div>
        </div>
        <!-- 查看和编辑用户信息 end -->

    </div>
    <!-- 右侧布局 end -->

</div>
