<style type="text/css">
html{color:#000;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}

.contacts-item img.photo{
    width: 70px;
    height: 70px;
}
.contacts-item div.info{
    display: inline-block;
}
</style>

<!-- 每个联系人的模板 -->
<div class="contacts-item">
	<input class="selected" type="checkbox">
	<img class="photo" src="../../images/test-contacts.png">
    <div class="info">
        <p class="name">Alice Cheung</p>
        <p class="phone">+1(617)756-0359</p>
    </div>
</div>
