.wdm-contact {
    @include display-flex;
    @include align-content(center);
    @include align-items(center);
    @include justify-content(center);
    @include position;

    font-size: 16px;
}

.wdmct-b {
    @include position(absolute, 8px 0px 0 0);
    padding: 10px;
    cursor: pointer;
    @include button-effect;
}
