.wdm-contact {
    // @include position;
}

.wdmct-a {
    // @include display-flex;
    // @include justify-content(center);
    @include box-sizing(border-box);
    width: 100%;
    min-height: 53px;
    padding: 16px 50px;
    font-size: 18px;
    text-align: center;
    word-break: break-word;
    cursor: default;
}

.wdmct-b {
    @include position(absolute, 8px 0px 0 0);
    padding: 10px;
    cursor: pointer;
    @include button-effect;
}

.wdmct-c {
    @include display-flex;
    @include box-sizing(border-box);
    padding: 16px 20px;
    width: 100%;

    font-size: 12px;

    & > div {
        @include nowrap;
        margin-right: 13px;
    }
    textarea {
        width: 100%;
        font-size: 12px;
    }
    .text-core {
        @include flex(1);
    }
}
