.wdme-row {
    @include display-box;
    @include box-align(end);
    padding: 0 48px;

    .wdmer-a {
        @include position;
        max-width: 360px;
        background: #e8e8e8;
        padding: 10px;
        @include text-shadow(0 1px 0 rgba(#fff, 1));

        &::before {
            content: "";
            display: block;
            @include position(absolute, 0 0 -4px -5px);
            width:0px;
            height:0px;
            border-bottom:6px solid transparent;  /* left arrow slant */
            border-top:6px solid transparent; /* right arrow slant */
            border-left:6px solid #e8e8e8; /* bottom, add background color here */
            font-size:0px;
            line-height:0px;
            @include transform(rotate(45deg));
        }
    }
}
.wdme-row-self {
    @extend .wdme-row;
    @include box-direction(reverse);
    @include box-pack(end);
    .wdmer-a {
        background: #c7eea0;

        &::before {
            @include position(absolute, auto -5px -4px auto);
            border-left-color: #c7eea0;
            @include transform(rotate(135deg));
        }
    }
}
