.wdj-messages {
    @import "flex";

    @include position(fixed, 0px 0px 0px $global-left-offset);
    font-size: 12px;

    // Position with override display in Firefox 19-.
    // We need a other element to apply flexbox.
    .wdm-layout {
        @include display-flex;
        width: 100%;
        height: 100%;
    }

    $wdm-border-color: #e7e7e7;
    $wdm-main-text-color: #000;
    $wdm-sub-text-color: #999;

    $wdm-sub-width: 428px;
    .wdm-sub {
        @include display-flex;
        @include flex-direction(column);
        width: $wdm-sub-width;
        border-right: 1px solid $wdm-border-color;

        @include position;
        & > .wd-loading {
            @include position(absolute);
        }
    }
    .wdm-main {
        @include flex(1);
        @include display-flex;
        @include flex-direction(column);

        @include position;
        & > .wd-loading {
            @include position(absolute);
        }
    }

    $wdm-actions-height: 50px;

    .wdm-actions {
        height: $wdm-actions-height;
        border-bottom: 1px solid $wdm-border-color;
        margin-bottom: -1px;
    }
    .wdm-search {
        height: 51px;;
        border-bottom: 1px solid $wdm-border-color;
        margin-bottom: -1px;
    }
    .wdm-conversations {
        @include flex(1);
        height: 0; // Flexbox need a height as refer.
        margin-bottom: 0;
    }

    .wdm-contact {
        min-height: $wdm-actions-height;
        border-bottom: 1px solid $wdm-border-color;
    }
    .wdm-results {
    }
    .wdm-entries {
        @include flex(1);
        overflow-y: auto;
        width: 100%; // Firefox need a width to prevent flexbox turn into inline-block.
        height: 1px;   // Flexbox need a height as refer.
    }

    @import "actions";
    @import "conversations";
    @import "contact";
    @import "results";
    @import "entries";
    @import "editor";
    @import "textext";

    .icon-sending,
    .icon-sending-w {
        @include animation(flash 4s infinite);
    }

    .load-more {
        display: inline-block;
        // width: 80px;
        padding: 8px 40px;
        margin: 15px auto;
        border-radius: 20px;
        background: #e6e6e6;
        text-align: center;
        opacity: 0.7;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 1;
            @include box-shadow(inset 0 1px 1px rgba(#000, 0.1));
        }
    }
    .load-more-hide {
        visibility: hidden;
    }
}
