.text-core {
  position: relative;
}
.text-core .text-wrap {
  background: #fff;
  position: absolute;
  width: 100%;
}
.text-core .text-wrap textarea, .text-core .text-wrap input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0;
  @include box-shadow(none);
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  // padding: 3px 5px 4px 5px;
  padding: 0;
  white-space: nowrap;
  // line-height: 13px;
  height: auto;
}
.text-core .text-wrap .text-arrow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOAQMAAADHWqTrAAAAA3NCSVQICAjb4U/gAAAABlBMVEX///8yXJnt8Ns4AAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1MzmNZGAwAAABpJREFUCJljYEAF/xsY6hkY7BgYZBgYOFBkADkdAmFDagYFAAAAAElFTkSuQmCC") 50% 50% no-repeat;
  cursor: pointer;
  z-index: 2;
}
.text-core .text-wrap .text-dropdown {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  z-index: 3;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 100px;
  // padding: 1px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  @include box-shadow(0 2px 5px rgba(#000, 0.2));
}
.text-core .text-wrap .text-dropdown.text-position-below {
  margin-top: 1px;
}
.text-core .text-wrap .text-dropdown.text-position-above {
  margin-bottom: 1px;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion {
  padding: 8px 15px;
  cursor: pointer;
  color: $wdm-sub-text-color;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion .text-label > span {
  display: inline-block;
  width: 20%;
  @include ellipsis;
  color: #000;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion em {
  font-style: normal;
  text-decoration: underline;
}
.text-core .text-wrap .text-dropdown .text-list .text-suggestion.text-selected {
  background: #eee;
}
.text-core .text-wrap .text-focus {
  // -webkit-box-shadow: 0px 0px 6px #6d84b4;
  // -moz-box-shadow: 0px 0px 6px #6d84b4;
  // box-shadow: 0px 0px 6px #6d84b4;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.text-core .text-wrap .text-focus.text-show-focus {
  display: block;
}
.text-core .text-wrap .text-prompt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 1px 0 0 2px;
  color: #c0c0c0;
  overflow: hidden;
  white-space: pre;
}
.text-core .text-wrap .text-prompt.text-hide-prompt {
  display: none;
}
.text-core .text-wrap .text-tags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  // padding: 3px 35px 3px 3px;
  cursor: text;
}
.text-core .text-wrap .text-tags.text-tags-on-top {
  z-index: 2;
}
.text-core .text-wrap .text-tags .text-tag {
  float: left;
}
.text-core .text-wrap .text-tags .text-tag .text-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  // border: 1px solid #9daccc;
  background: #eee;
  color: #000;
  padding: 0px 17px 0px 3px;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
.text-core .text-wrap .text-tags .text-tag .text-button.error {
  background: #efdbdc;
  color: #9e0b0f;
}
.text-core .text-wrap .text-tags .text-tag .text-button .text-remove {
    cursor: pointer;
  position: absolute;
  right: 3px;
  top: 3px;
  display: block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  @include button-effect;
}
.text-core .text-wrap .text-tags .text-tag .text-button .text-remove:hover {
    text-decoration: none;
}
