$auth-spacing: 4px;
@import "auth/*.png";
.wd-portal {
    @include position(fixed, 0px 0px 0px 0px);
    @include ui-layer-top;
    background: #6eb800;

    .a:before {
        content: "";
        $name: "icon_logo_white";
        @include position(fixed, 20px 0 0 30px);
        @include auth-sprite($name);
        width: auth-sprite-width($name);
        height: auth-sprite-height($name);
    }

    .container {
        padding-left: 40px;
        width: 900px;
    }

    .a {
        @include position(fixed, 0px 0px 234px 0px);
        .container {
            @include position(absolute, 50% 0 0 50%);
            margin: -124px 0 0 -480px;
        }
        h1, p, span {
            @include text-shadow(0 1px 0 rgba(#000, 0.2));
            color: #fff;
        }
        h1 {
            // margin-top: 175px;
            font-weight: 100;
            font-size: 42px;
        }
        h1 + p {
            margin-top: 13px;
            opacity: 0.7;
        }
        form {
            margin-top: 70px;
            margin-bottom: 10px;
            input {
                @include text-shadow(0 1px 0 rgba(#000, 0.2));
                height: 34px;
                line-height: 34px;
                font-size: 18px;
                border-color: transparent;
                padding-left: 10px;
                padding-right: 10px;
                @include box-shadow(none);
                opacity: 0.8;
                @include transition(opacity $global-transition-duration);
                &:focus {
                    opacity: 1;
                }
            }
            button {
                @include text-shadow(0 1px 0 rgba(#000, 0.2));
                @include box-shadow(none);
                width: 96px;
            }
            p {
                margin-top: 12px;
            }
        }
        .error {
            width: 306px;
            font-size: 12px;
            border-radius: 3px;
            background: rgba(#fff, 0.5);
            padding: 12px 15px;
            color: #333;
            margin-bottom: 5px;
            @include text-shadow(0 1px 0 rgba(#fff, 0.4));
            ul {
                margin-bottom: 0;
            }
            a {
                color: #3c7800;
            }
        }
        .btn-safari, .btn-getstarted {
            cursor: pointer;
            text-decoration: underline;
            opacity: 0.7;
            &:hover {
                opacity: 0.95;
            }
        }
    }

    .b {
        @include position(fixed, 0 0px 0px 0px);
        height: 234px;
        background: #fff;
        h2, p {
            @include text-shadow(0 1px 0 rgba(#fff, 0.2));
        }
        h2 {
            font-weight: 300;
            font-size: 24px;
            margin-top: 44px;
            margin-bottom: 2px;
        }
        p {
            color: #999;
            font-size: 13px;
        }
        .link-to-gp {
            margin-top: 52px;
            $name: "googleplay";
            @include auth-sprite($name);
            display: block;
            width: auth-sprite-width($name);
            height: auth-sprite-height($name);
        }
        ul.inline {
            margin-top: 50px;
            padding-top: 15px;
            text-align: center;
            font-size: 11px;
            color: #999;
            border-top: 1px solid #f0f0f0;
            li {
                line-height: 14px;
            }
            li:first-child {
                display: block;
            }
            li a {
                padding-right: 0;
                color: #999;
                &:hover {
                    color: #6db800;
                    text-decoration: none;
                }
                &:active {
                    color: #3c7800;
                }
            }
        }
    }
}
.wd-portal-getstarted {
    // @import "auth/*.png";
    $width: auth-sprite-width("step1") * 3 + 20px * 3;
    width: $width;
    margin-left: -$width/2 - 1px;
    @for $i from 1 through 3 {
        .step#{$i} {
            .figure {
                $name: "step#{$i}";
                @include auth-sprite($name);
                display: block;
                width: auth-sprite-width($name);
                height: auth-sprite-height($name);
                margin: 0 auto;
            }
            p {
                margin-top: 10px;
                font-size: 12px;
                a {
                    color: #6eb800;
                }
            }
        }
    }
    .modal-footer {
        display: none;
    }
}
