.wd-auth {
    @include ui-layer-top;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: image-url("bg-pattern.png");

    .panel {
        $width: 700px;
        $height: 300px;
        position: absolute;
        left: 50%;
        top: 45%;
        margin: ($height / -2) 0 0 ($width / -2);
        width: $width;
        height: $height;
        // border-radius: 6px;
        // @include box-shadow(0 0 10px #ccc);
        // background: #f6f6f6;

        .logo {
            background: image-url("logo_light.png");
            $w: image-width("logo_light.png");
            $h: image-height("logo_light.png");
            position: absolute;
            left: 0;
            top: ($height - $h) / 2;
            width: $w;
            height: $h;

            &:after {
                position: absolute;
                right: -30px;
                top: -50%;
                content: "";
                width: 1px;
                height: 200%;
                @include background-image(linear-gradient(#f6f6f6, #ccc, #f6f6f6));
            }
            &:before {
                position: absolute;
                right: -31px;
                top: -25%;
                content: "";
                width: 1px;
                height: 150%;
                @include background-image(linear-gradient(#f6f6f6, #f9f9f9, #f6f6f6));
            }
        }

        .auth {
            position: absolute;
            left: 310px;
            top: 100px;
            p {
                color: #555;
                @include text-shadow(0 1px 0 #fff);
                a {
                    color: #6a0;
                    font-size: 12px;
                }
            }
            form {
                margin: 15px 0;
                $height: 28px;
                input {
                    background-color: #f5f5f5;
                    height: $height;
                    line-height: $height;
                    text-indent: 5px;

                    @include transition(all $global-transition-duration);

                    &:focus {
                        border-color: #bbb;
                        background-color: #fff;
                        @include box-shadow(0 1px 0 #fff);
                    }
                }
                button {
                    font-size: inherit;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    width: 96px;
                }
                @include nowrap;
            }
        }
    }
}
