<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Satan</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <script src="scripts/vendor/modernizr.min.js"></script>
    </head>
    <body wd-window-event-watcher>
    <div class="navbar navbar-fixed-bottom navbar-inverse">
        <div class="navbar-inner">
            <a class="brand"><i class="navbar-logo">Wandoujia</i></a>
            <ul class="nav nav-global">
                <li  class="active"><a href=""><i class="navbar-icon-img"></i></a></li>
                <li><a href=""><i class="navbar-icon-sms"></i></a></li>
                <li><a href=""><i class="navbar-icon-contact"></i></a></li>
                <li><a href=""><i class="navbar-icon-app"></i></a></li>
            </ul>
            <ul class="nav pull-right nav-actions">
               <li><a href=""><i class="navbar-icon-setting"></i></a></li>
            </ul>
        </div>
    </div>
    <div ng-cloak class="container-fluid wdj-photos" ng-controller="galleryController">
        <div class="timeline-container">
            <div class="showcases-container" ng-repeat="group in groups">
                <div wd-showcase data-date="{{group.date}}" data-photos="group.photos"></div>
            </div>
            <div class="actions-container">
                <!-- <a class="action-pick-date"><i class="photos-icon-calendar"></i></a> -->
                <a class="action-upload-photo"><i class="photos-icon-add"></i></a>
                <div class="toolbar" ng-class="{'toolbar-active': selectedPhotosCount}">
                    <span class="counter">{{selectedPhotosCount}}</span>
                    <label class="action-select-all checkbox"><input type="checkbox" ng-model="selectType" ng-change="selectAll()"></label>
                    <a href="" class="action-delete"><i class="photos-icon-del-toolbar"></i></a>
                    <a href="" class="action-download"><i class="photos-icon-dl-toolbar"></i></a>
                    <a href="" class="action-share"><i class="photos-icon-share-toolbar"></i></a>
                    <!-- <a href="" class="action-close-toolbar"><i class="photos-icon-close-toolbar"></i></a> -->
                </div>
            </div>
        </div>
        <div class="slides-container"
            ng-class="{'slides-active': previewPhoto != null}"
            ng-controller="slideController">
            <div class="frame">
                <!--
                    ng-src="{{previewPhoto.path}}"
                 -->
                <span><span><img alt=""
                    ng-src="http://wallpaperstate.org/wp-content/gallery/2_wallpapers_wallpaper_07/windows-7-wallpapers-r-ibackgroundz-com_.jpg"
                    ></span></span>
            </div>
            <a href="" class="action-previous"
                ng-show="previewPhotoIndex > 0"
                ng-click="previous()"><i class="photos-slide-icon-pre"></i></a>
            <a href="" class="action-next"
                ng-show="previewPhotoIndex < photos.length - 1"
                ng-click="next()"><i class="photos-slide-icon-next"></i></a>
            <a href="" class="action-play"><i class="photos-slide-icon-play"></i></a>
            <a href="" class="action-rotate"><i class="photos-slide-icon-rotate"></i></a>
            <a href="" class="action-delete"><i class="photos-slide-icon-delete"></i></a>
            <a href="" class="action-download"><i class="photos-slide-icon-dl"></i></a>
            <a href="" class="action-share"><i class="photos-slide-icon-share"></i></a>
            <a href="" class="action-close" ng-click="closePreview()"><i class="photos-slide-icon-close"></i></a>
        </div>
        <div class="wd-loading" ng-class="{'wd-loading-hide': photos.length > 0}"></div>
    </div>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery.min.js"><\/script>')</script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
        <script>window.angular || document.write('<script src="scripts/vendor/angular.min.js"><\/script>')</script>




        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
-->

    <!-- build:js scripts/amd-app.js -->
    <script data-main="scripts/main" src="scripts/vendor/require.js"></script>
    <!-- endbuild -->
</body>
</html>
