<div class="navigator">
    <div class="navigator-inner">
        <div class="brand"><i class="navbar-logo"></i></div>
        <ul class="nav nav-modules">
            <li ng-class="{ active: currentModule == 'photos' }">
                <a href="#/photos"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_PHOTOS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:photos')"><i class="navbar-icon-img"></i></a>
            </li>
            <li ng-class="{ active: currentModule == 'messages', notification: messageNotification }">
                <a href="#/messages"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_MESSAGES_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:sms')"><i class="navbar-icon-sms"></i></a>
            </li>
            <li ng-class="{ active: currentModule == 'contacts' }">
                <a href="#/contacts"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_CONTACTS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:contacts')"><i class="navbar-icon-contact"></i></a>
            </li>
            <li ng-class="{ active: currentModule == 'applications' }">
                <a href="#/applications"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_APPS_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="$root.GA('navbar:applications')"><i class="navbar-icon-app"></i></a>
            </li>
        </ul>
        <ul class="nav nav-settings">
            <li><a target="_blank" href="http://snappea.wufoo.com/forms/snappea-feedback-survey/"><i class="navbar-icon-feedback"></i><br>{{$root.DICT.app.NAVBAR_FEEDBACK_TIP}}</a></li>
            <li><a target="_blank" href="http://snappea.zendesk.com/forums/21871852-Web-version"><i class="navbar-icon-help"></i><br>{{$root.DICT.app.NAVBAR_HELP_TIP}}</a></li>
            <li>
                <a href="#/signout" class="signout"
                    bs-tooltip="{{$root.DICT.app.NAVBAR_SIGNOUT_TIP}}"
                    data-options="{placement: 'right'}"
                    ng-click="signout();$root.GA('navbar:signout')"><i class="navbar-icon-signout"></i></a>
            </li>
        </ul>
    </div>
</div>
