@import "applications/*.png";
$iconList:"add","check","checked","del","delAll","info-del","phone","search","sel","sel_white","reinstall","close","retry";
@each $icon in $iconList{

    // sprite meta
    $sprite-width : applications-sprite-width($icon);
    $sprite-height: applications-sprite-height($icon);

    // icon class directly populated in namespace
    i.icon-#{$icon}{
        @include applications-sprite($icon);

        // constrain icon dimensions for preventing sprites leaking
        width: $sprite-width;
        height: $sprite-height;

        // ensure icon margin edge from top to bottom is computed just equals the global line height
        @include inline-block;
        $margin-all   : $global-line-height - $sprite-height;
        $margin-top   : round($margin-all / 2);
        $margin-bottom: $margin-all - $margin-top;
        margin: $margin-top 0 $margin-bottom;
        vertical-align: top;
        cursor: pointer;

        // for accessibility
        @include hide-text;
    }
}

input[type=checkbox] {

    // WebKit-only hacks
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        position: relative;
        -webkit-appearance: none;
        $height: applications-sprite-height("check");
        $margin-top: round(($global-line-height - $height) / 2);
        width: applications-sprite-width("check");
        height: $height;
        margin: $margin-top 0 ($global-line-height - $height - $margin-top);
        border: 0;
    }

    &:not(:checked):after {
        content: "";
        @include position(absolute, 0px 0 0 0px);
        width: applications-sprite-width("check");
        height: applications-sprite-height("check");
        @include applications-sprite("check");
    }


    &:checked:after{
        content: "";
        @include position(absolute, 0px 0 0 0px);
        width: applications-sprite-width("check");
        height: applications-sprite-height("check");
        @include applications-sprite("checked");
    }

}
