.wdj-applications{
	.header{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 44px;
		overflow: hidden;
		padding-left: 20px;
		padding-top: 10px;
		background: rgba(255, 255, 255, 0.9);
		z-index: 200;

        button.delete-all{
            display: none;
            i:hover{
                background-position: 0 -208px;
            }
        }
	}
    ul{
        list-style: none;
        margin: 0px;
    }
	.apps-list{
		position: fixed;
		top: 0px;
		bottom: 70px;
		overflow-y:auto;
		padding-top: 54px;
        padding-left: 10px;

		dl{
			float: left;
			width: 160px;
			height: 160px;
			background-color: #f5f5f5;
			margin:0px 0px 10px 10px;
			text-align: center;
            position: relative;
            cursor: pointer;

			img{
				margin: 10px 0px 10px 0px;
                width: 96px;
                height: 96px;
			}

            dd.title{
                margin-left: 0px;
                height: 40px;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            dd.toolbar{
                opacity: 0;
                height: 26px;
                overflow: hidden;
                text-align: left;
                margin-left: 0px;
                background-color: #000;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                @include transition(opacity 0.3s);
                cursor: default;

                .btn-icon-check{
                    width: 25px;
                    height: 26px;
                    padding-left: 5px;
                    padding-top: 2px;
                    display: inline-block;
                }
                .btn-icon-del{
                    width: 20px;
                    height: 22px;
                    padding-top: 2px;
                    display: inline-block;
                    float: right;
                }
                .btn-icon-info{
                    width: 25px;
                    height: 26px;
                    padding-top: 2px;
                    display: inline-block;
                    float: right;
                }
            }

            dd.confirm{
                margin-left: 0px;
                position: absolute;
                bottom: 0px;
                background: #F38200;
                height: 52px;
                width: 165px;

                i.icon-phone{
                    position: absolute;
                    left: 13px;
                    top: 18px;
                }

                p{
                    margin-right: 0px;
                    margin-bottom: 0;
                    height: 43px;
                    margin-top: 7px;
                    margin-left: 45px;
                    display: block;
                    width: 110px;
                    text-align: left;
                    font-size: 12px;
                    color: #fff;
                }
            }

		}

        dl:hover{
            dd.toolbar{
                opacity: 1;
            }
        }

        dl.new-list{
            cursor: default;

            span.close-btn{
                position: absolute;
                right: 5px;
                top: 0px;
                font-size: 20px;
                cursor: pointer;
            }

            dd.progress{
                height: 9px;
                width: 165px;
                margin: 0;
                position: absolute;
                bottom: 0px;
                background: #555;
                display: block;

                span{
                    background-color: #6EB800;
                    height: 9px;
                    display: block;
                    width: 1%;
                }
            }

        }

	}

    .mask{
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(9,9,9,0.9);
        z-index: 1031;
        text-align: center;

        dl.info{
            width: 296px;
            height: 300px;
            background-color: #fff;
            border-radius: 6px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;

            div.detail-info{
                position: fixed;
                width: 296px;
                overflow-y:auto;
                overflow-x:hidden;
                height: 175px;
            }

            span.close-btn{
                position: absolute;
                right: 12px;
                top: 0px;
                font-size: 22px;
                color: #999;
                font-weight: bolder;
                cursor: pointer;
            }

            hr{
                color: #e7e7e7;
                width: 248px;
                margin-top: 10px;
                margin: 10px auto 5px auto;
            }

            dt{
                img{
                    margin-top: 25px;
                    width: 60px;
                    height: 60px;
                }
                h2{
                    font-size: 14px;
                    line-height: 14px;
                    margin: 6px 0px 0px 0px;
                }
            }
            dd{
                p{
                    display: inline-block;
                }
                p.title{
                    width: 35%;
                    text-align: right;
                    margin-bottom: 0px;
                }
                p.detail{
                    width: 50%;
                    text-align: left;
                    margin-bottom: 0px;
                }
                ul.detail{
                    vertical-align: top;
                    width: 50%;
                    display: inline-block;
                    li{
                        text-align: left;
                    }
                }
            }
        }
    }

	@import "icon";
}
