<div wd-strip>
    <div class="btn btn-primary"
        wdp-uploader
        ng-class="{ 'disabled': !photos.length }"
        ng-click="$root.GA('photos:toolbar:add_photo')"
        ><i class="icon-add"></i> {{$root.DICT.photos.ACTIONBAR_ADD_PHOTOS}}</div>
    <div class="btn action-select"
        ng-click="deselectAll()"
        ng-show="selectedPhotos.length">
        <i class="icon-sel-toolbar"></i>
        {{$root.DICT.photos.ACTIONBAR_DESELECT_ALL}} ({{selectedPhotos.length}})
    </div>
    <div class="btn-group" ng-hide="!selectedPhotos.length">
        <div class="btn"
            ng-click="deleteSelected();$root.GA('photos:delete_selected')"
            ><i class="icon-del-toolbar"></i> {{$root.DICT.photos.ACTIONBAR_DELETE}}</div>
<!--
        <div class="btn"
            ><i class="photos-icon-ab-dl"></i> {{$root.DICT.photos.ACTIONBAR_DOWNLOAD}}</div>
        <div class="btn"
            ><i class="photos-icon-ab-sh"></i> {{$root.DICT.photos.ACTIONBAR_SHARE}}</div>
-->
    </div>
</div>
