<div class="actions-container" id="-wdp-uploader-container">
    <!-- <a class="action-pick-date" ng-click="pickDate()"><i class="photos-icon-calendar"></i></a> -->
    <a class="action-upload-photo" id="-wdp-uploader-trigger"
        wdp-uploader
        data-on-start-upload="onStartUpload(files)"
        data-on-uploaded="onUploaded(files)"
        data-browse-button-id="-wdp-uploader-trigger"
        data-container-id="-wdp-uploader-container"
        ><i class="photos-icon-add"></i></a>
    <div class="toolbar" ng-class="{'toolbar-active': selectedPhotos.length}">
        <span class="counter">{{selectedPhotos.length}}</span>
        <label class="action-select-all checkbox"><input type="checkbox" ng-checked="selectedPhotos.length == photos.length" ng-click="selectAll()"></label>
        <a href="" class="action-delete" ng-click="delete()"><i class="photos-icon-del-toolbar"></i></a>
        <a href="" class="action-download" ng-click="download()"><i class="photos-icon-dl-toolbar"></i></a>
        <a href="" class="action-share" ng-click="share()"><i class="photos-icon-share-toolbar"></i></a>
        <!-- <a href="" class="action-close-toolbar"><i class="photos-icon-close-toolbar"></i></a> -->
    </div>
</div>
