<div ng-class="{'active': photo.selected}">
    <div class="photo"
        ng-click="preview(photo);$root.GA('photos:photo:click')"></div>
    <div class="actions">
        <label class="action-select checkbox inline"
            ng-click="select(photo, $event.shiftKey)"
            bs-tooltip="{{checkboxTipText}}">
            <input type="checkbox"
                ng-model="photo.selected">
        </label>
<!--
        <a class="action-share" href=""
            bs-tooltip="{{$root.DICT.photos.BLOCK_SHARE}}"
            ng-click="share(photo)"
            ><i class="icon-share"></i></a>
 -->
        <a class="action-download" href=""
            bs-tooltip="{{$root.DICT.photos.BLOCK_DOWNLOAD}}"
            ng-click="download(photo);$root.GA('photos:photo:download')"
            ><i class="icon-down"></i></a>
        <a class="action-delete" href=""
            bs-tooltip="{{$root.DICT.photos.BLOCK_DELETE}}"
            ng-click="delete(photo);$root.GA('photos:photo:delete')"
            ><i class="icon-delete"></i></a>
    </div>
    <div class="wdp-progress"></div>
</div>
