<div class="container-fluid wdj-photos">
    <div class="wdp-timeline-container" wdp-gallery>
        <div class="wdp-showcases-container">
            <div class="wdp-showcase">
                <div class="wdp-block"
                    wdp-repeat="photo in photos"
                ></div>
            </div>
            <div class="load-more"
                ng-class="{'load-more-hide': allLoaded || !firstScreenLoaded}"
                ng-click="fetch()"
                ng-switch on="loaded">
                    <span ng-switch-when="true">{{$root.DICT.photos.BTN_LOAD}}</span>
                    <span ng-switch-when="false" class="wd-loading wd-loading-inline" data-visible="true"></span>
            </div>
        </div>
        <div class="wdp-actionbar"></div>
        <div class="wd-loading" data-visible="!firstScreenLoaded"></div>
    </div>
    <div wdp-slides
        data-current="previewPhoto"
        data-photos="photos"
        data-on-delete="delete(photo)"
        data-on-download="download(photo)"
        data-on-share="share(photo)"
        ></div>
</div>
