<div class="slides-container">
    <div class="frame" wdp-frame data-photo="current">
    </div>
    <a href="" class="action-previous"
        ng-show="hasPrevious()"
        ng-click="previous();$root.GA('photos:slide:previous')"><i class="icon-slidepre" bs-tooltip="{{$root.DICT.photos.SLIDES_PREV}}" data-options="{container: '', placement: 'right'}"></i></a>
    <a href="" class="action-next"
        ng-show="hasNext()"
        ng-click="next();$root.GA('photos:slide:next')"><i class="icon-slidenext" bs-tooltip="{{$root.DICT.photos.SLIDES_NEXT}}" data-options="{container: '', placement: 'left'}"></i></a>
    <a href="" class="action-play" ng-click="togglePlay()" ng-switch on="playing"
        bs-tooltip="{{playButtonText}}"
        data-options="{container: ''}"
        >
        <i class="icon-slideplay" ng-switch-when="false"></i>
        <i class="icon-slidepause" ng-switch-when="true"></i>
    </a>
    <a href="" class="action-rotate"
        bs-tooltip="{{$root.DICT.photos.SLIDES_ROTATE}}"
        data-options="{container: ''}"
        ng-click="rotate();$root.GA('photos:slide:rotate')"
        ><i class="icon-sliderotate"></i></a>
    <a href="" class="action-delete"
        bs-tooltip="{{$root.DICT.photos.SLIDES_DELETE}}"
        data-options="{container: ''}"
        ng-click="remove();$root.GA('photos:slide:delete')"
        ><i class="icon-slidedl"></i></a>
    <a href="" class="action-download"
        bs-tooltip="{{$root.DICT.photos.SLIDES_DOWNLOAD}}"
        data-options="{container: ''}"
        ng-click="download({photo: current});$root.GA('photos:slide:download')"
        ><i class="icon-slidedown"></i></a>
    <!-- <a href="" class="action-share" ng-click="share({photo: current})"><i class="icon-slideshare"></i></a> -->
    <a href="" class="action-close"
        ng-click="close();$root.GA('photos:slide:close')"
        ><i class="icon-slide-close" bs-tooltip="{{$root.DICT.photos.SLIDES_CLOSE}}" data-options="{container: '', placement: 'left'}"></i></a>
</div>
